.tc {
  text-align: center;
}

.spacing .v-btn {
  margin: 5px;
}

.waiting  {
  text-align: center;
  font-weight: bold;
}

.poll h2 {
  text-align: center;
}

.admin-questions{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.admin-questions > div {
  margin: 3px 0;
  font-weight: bold;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.choices button {
  margin: 5px;
}

.donut {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
