<!DOCTYPE html>{% load static %}
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>{{ pres.title }}</title>
  <style>
    {% include "poll.css" %}
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          <h2>{{ pres.title }}</h2>
          <poll v-if="poll_data" :data="poll_data" :admin="false"></poll>
          <div class="waiting" v-else>
            Waiting for next poll
            <br><br>
            <v-progress-circular
              :size="70"
              :width="7"
              color="primary"
              indeterminate
            ></v-progress-circular>
          </div>
        </v-container>
      </v-content>
    </v-app>
  </div>
  <script>
    var PRES = {
      slug: '{{ pres.slug }}',
      key: '{{ key }}'
    }
  </script>
  {% if pres.current %}
  {{ pres.current.json_data|json_script:"current" }}
  {% endif %}
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
  <script src="https://js.pusher.com/5.0/pusher.min.js"></script>
  <script src="{% static 'poll.js' %}"></script>
  <script src="{% static 'ppp.js' %}"></script>
</body>
</html>
